<li class=project-card>
  <div class=project-card-inner>
    <div class=project-tmb>
      <img class=project-tmb-img src="{{ includes.image }}">
    </div>
    <div class=project-body>
      <h4 class=project-title>{{ includes.title }}</h4>
      <p class=project-description>{{ includes.description }}</p>
      <div class=project-links>
        <strong>Links:</strong> <a href=https://github.com/hackforla/adopt-civic-art target=_blank>Github</a>
      </div>
      <div class="project partner">
        <strong>Partner:</strong> {{ includes.partner }}
      </div>
    </div>
  </div>
</li>
